.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-shape-1 {
  margin-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 277px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 0 235px;
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: -62px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-block-9dd1-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  width: 1140px;
  margin: 0 -12px 60px 12px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 30px auto 0 41px;
  padding: 15px 47px 16px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: -57px 41px 44px auto;
  padding: 15px 47px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    left: auto;
    right: 133px;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
    margin-left: 217px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
  }

  .u-section-1 .u-table-cell-17 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    right: 0;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-table-cell-17 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-table-cell-17 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 107px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-table-cell-17 {
    width: 340px;
  }
}